<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Asem_URDF2.2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00273860635706563 -0.189585332537804 -0.0418503138175"
        rpy="0 0 0" />
      <mass
        value="2.51232556100381" />
      <inertia
        ixx="0.00310363508347308"
        ixy="-2.83717693262433E-05"
        ixz="-1.89487380597375E-05"
        iyy="0.0051236149336858"
        iyz="-5.25064421213771E-05"
        izz="0.00359466778308024" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.470588235294118 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_hip">
    <inertial>
      <origin
        xyz="6.49127867291543E-08 0.0147488198448284 -1.38897146098604E-06"
        rpy="0 0 0" />
      <mass
        value="0.0182000419878892" />
      <inertia
        ixx="4.61904406212197E-06"
        ixy="3.99049700386581E-12"
        ixz="-1.20359375841464E-11"
        iyy="4.55422094522448E-06"
        iyz="-1.64972135781721E-10"
        izz="4.61891872101621E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="left_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.470588235294118 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="left_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hipj"
    type="revolute">
    <origin
      xyz="0.0410000000000001 -0.214748198041392 -0.0482597761164081"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_hip" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_knee">
    <inertial>
      <origin
        xyz="0.0396392202364896 0.04824540334431 0.0965474420476572"
        rpy="0 0 0" />
      <mass
        value="0.0689612295694067" />
      <inertia
        ixx="3.42775690179589E-05"
        ixy="-3.32883813960433E-07"
        ixz="5.76259510179577E-07"
        iyy="3.66875881854108E-05"
        iyz="1.07645451496406E-05"
        izz="2.42571770160966E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="left_knee.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="left_knee.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_kneej"
    type="revolute">
    <origin
      xyz="-0.0396797352396021 -0.116419550121589 0.0831945609809142"
      rpy="-2.02793214430178 0 0" />
    <parent
      link="left_hip" />
    <child
      link="left_knee" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_ankle">
    <inertial>
      <origin
        xyz="0.064296609347001 0.0687805563450677 0.09505595208941"
        rpy="0 0 0" />
      <mass
        value="0.508305315550368" />
      <inertia
        ixx="0.000639578408517216"
        ixy="6.35687523771487E-06"
        ixz="-3.89612935539662E-06"
        iyy="0.00124671749506692"
        iyz="2.76032825552061E-06"
        izz="0.000688373458609745" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="left_ankle.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="left_ankle.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_anklej"
    type="revolute">
    <origin
      xyz="0.00872830146334291 0.208131576886517 -0.0406094330433439"
      rpy="2.03287638625548 0 0" />
    <parent
      link="left_knee" />
    <child
      link="left_ankle" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_hip">
    <inertial>
      <origin
        xyz="6.26175276630114E-08 0.0147488203563727 -1.38900650609175E-06"
        rpy="0 0 0" />
      <mass
        value="0.0182000425195511" />
      <inertia
        ixx="4.61904407070278E-06"
        ixy="4.06415332010876E-12"
        ixz="-1.18399397404963E-11"
        iyy="4.5542216832972E-06"
        iyz="-1.65078832016321E-10"
        izz="4.61891927695759E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="right_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.470588235294118 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="right_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hipj"
    type="revolute">
    <origin
      xyz="-0.0387209659142299 -0.214679791167745 -0.0505097761155165"
      rpy="0 0 0.0600134430479884" />
    <parent
      link="base_link" />
    <child
      link="right_hip" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_knee">
    <inertial>
      <origin
        xyz="0.0396392356642763 0.0482454580381397 0.0965473275419001"
        rpy="0 0 0" />
      <mass
        value="0.068961373549845" />
      <inertia
        ixx="3.42776008989011E-05"
        ixy="-3.32865031269742E-07"
        ixz="5.7622669092844E-07"
        iyy="3.66875993226641E-05"
        iyz="1.07645719984772E-05"
        izz="2.42572077794417E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="right_knee.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="right_knee.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_kneej"
    type="revolute">
    <origin
      xyz="-0.0396797352396023 -0.109565573595318 0.091398552021913"
      rpy="-2.10640317850697 0 0" />
    <parent
      link="right_hip" />
    <child
      link="right_knee" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_ankle">
    <inertial>
      <origin
        xyz="-0.0210223460294471 -0.050074154109761 0.017589867392335"
        rpy="0 0 0" />
      <mass
        value="0.508298587672201" />
      <inertia
        ixx="0.000639581748865773"
        ixy="-6.36565884184124E-06"
        ixz="3.89302062163781E-06"
        iyy="0.00124672263383992"
        iyz="2.75712030404062E-06"
        izz="0.000688374619270354" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="right_ankle.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="right_ankle.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_anklej"
    type="revolute">
    <origin
      xyz="0.02643 0.085804 0.031246"
      rpy="2.0551 0 0" />
    <parent
      link="right_knee" />
    <child
      link="right_ankle" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_arm">
    <inertial>
      <origin
        xyz="0.0678355839824863 0.0749872886958564 0.0585719544893386"
        rpy="0 0 0" />
      <mass
        value="0.080523854996151" />
      <inertia
        ixx="0.000100188452717387"
        ixy="2.11991927733245E-09"
        ixz="-5.69167654051837E-05"
        iyy="0.000173357324851997"
        iyz="1.55266787601804E-09"
        izz="8.18547374828311E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="left_arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="left_arm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_armj"
    type="revolute">
    <origin
      xyz="0.10574 -0.058791 -0.086755"
      rpy="0 0 -0.64476" />
    <parent
      link="base_link" />
    <child
      link="left_arm" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_arm">
    <inertial>
      <origin
        xyz="0.067835481254586 0.0749874178387854 0.0585723398404888"
        rpy="0 0 0" />
      <mass
        value="0.0805241980656365" />
      <inertia
        ixx="0.000100188501960516"
        ixy="2.16393918878703E-09"
        ixz="-5.69167745449833E-05"
        iyy="0.000173357294419626"
        iyz="1.52425115125117E-09"
        izz="8.18545118713855E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="right_arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="right_arm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_armj"
    type="revolute">
    <origin
      xyz="-0.217707976701913 0.0328973610598012 -0.0857548077610811"
      rpy="0 0 -2.01708426643299" />
    <parent
      link="base_link" />
    <child
      link="right_arm" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>